<input
  [type]="type"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="placeholder"
  [formControl]="control"
/>
<ng-container *ngIf="control.touched && control.dirty">
  <p *ngIf="control.errors?.['required']" class="text-red-400">
    Field is Required
  </p>
  <div>
    <p class="text-red-400" *ngIf="control.errors?.['minlength']">
      Minimum Name Length:
      {{ control.getError('minlength').requiredLength }}
    </p>
  </div>
  <p class="text-red-400" *ngIf="control.errors?.['maxlength']">
    Maximum Name Length:
    {{ control.getError('maxlength').requiredLength }}
  </p>
  <p class="text-red-400" *ngIf="control.errors?.['email']">Invalid Email</p>
  <p class="text-red-400" *ngIf="control.errors?.['min']">
    Minimum Age:
    {{ control.getError('min').min }}
  </p>
  <p class="text-red-400" *ngIf="control.errors?.['max']">
    Max Age:
    {{ control.getError('max').max }}
  </p>
</ng-container>
